.App {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.darkmode {
  background-color: #0f1620;
  color: white;
}

.players-container {
  display: flex;
  flex-flow: row wrap;
}

.player {
  border: 1px solid gray;
  margin: 10px 20px;
  padding: 5px;
  width: 300px;
}